body{
  margin:0;
  background-image: url("image/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  background-color: white;
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.task-area{
  border: 1px solid lightgray;
}

.task-tabs{
  display: flex;
  border-bottom: 1px solid lightgray;
  position: relative;
}
.task-tabs div {
  padding: 1em;
}

#under-line{
  height: 4px;
  background-color: pink;
  position: absolute;
  width: 70px;
  left: 0px;
  top: 52px;
  padding: 0px;
}
.task {
  display: flex;
  justify-content: space-between;
}
.task-done{
  text-decoration: line-through;
  background-color: lightgray;
  transition: 0.5s;
}